* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.nav {
    width: 100%;
    height: 550px;
    background: linear-gradient(180deg, rgba(0,241,255,1) 0%, rgba(114,0,255,1) 80%);
    position: relative;
    display: flex;
    flex-direction: column;
}

.nav-header {
    width: 100%;
    height: 40%;
    position: relative;
    display: flex;
}

.nav-brand {
    width: 25%;
    height: 100%;
}

.nav-brand img {
    width: 50%;
}

.nav-menu {
    width: 70%;
    height: 50%;
    display: flex;
    justify-content: flex-end;
    position: relative;
}

.nav-menu-list {
    display: flex;
    position: relative;
    margin-top: 2.5rem;
    list-style-type: none;
}

.nav-menu-item {
    color: white;
    font-size: 24px;
    margin-left: 50px;
}


.nav-menu-item  a{
    color: white;
    text-decoration: none;
}

.nav-footer {
    display: flex;
    position: relative;
    width: 100%;
    height: 50%;
    z-index: 1;
}

.nav-footer-left {
    width: 50%;
}

.nav-footer-left ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 1rem;
}

.nav-footer-left ul li {
    color: white;
    padding-top: 0.5rem;
    display: flex;
    flex-direction: row;
}  

.nav-footer-left ul li p {
    color: white;
    font-size: 20px;
}  

img[src="./img/check.png"] {
    height: 25px;
    width: 25px;
    margin-right: 15px;

}

.nav-footer-right {
    width: 50%;
    display: flex;
    justify-content: center;
}

.nav-footer-right p {
    color: white;
    font-size: 36px;
    padding-bottom: 5px;
}

.wave {
    position: absolute;
    bottom: 0;
}

/* === Content === */


.content-container {
    position: absolute;
    margin-top: 5rem;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
}

.content {
    width: 30%;
    height: auto;
}

.content-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 2%;
}

.content-mid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-right: 3%;
    margin-left: 3%;
}

.content-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-right: 2%;
}

.content p {
    margin-top: 0.5rem;
    font-size: 20px;
}

.content img {
    width: 120px;
    height: 120px;
    margin-bottom: 1rem;
}